body{
    background-color: black;
    background-image: url("../images/poker-chips-back.jpg");
    background-size: contain;
}

p {
    font-size: 22px;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/poker-chip-stacks.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.jumbotron .container {
    height: 220px;
    width: 220px;
    border: dashed 20px white;
    border-radius: 50%;
    background-color: #eaecefd9;
}

.container {
    border: solid black 10px;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.scoreboard {
    background-color: #eaecef;
    border-radius: 20px;
    border: 5px solid black;
    font-size: 24px;
    text-align: center;
}

.col-sm-2 {
    border-right: 5px solid black;
}

.col-sm-5 {
    margin-top: 25px;
}

.chip-img {
    padding: 20px 20px;
}
